{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "babel"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },

  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
