{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
