{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "babel"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },

  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
