.champion-change {
  &__header {
    display: flex;
    align-items: center;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
    padding-right: 4rem;

    p {
      line-height: 120%;
      font-style: oblique;
      margin-bottom: 0 !important;
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 0.8rem;
      letter-spacing: 0.2rem;
    }

    img {
      width: 10.4rem;
      margin-right: 1.6rem;
    }

    svg {
      width: 36rem;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      opacity: 0.1;
    }
  }

  &__change {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ddd;

    h5 {
      font-weight: 600;
      text-transform: uppercase;
    }

    &__name {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;

      img {
        width: 5.6rem;
        margin-right: -5.6rem;
      }

      h5 {
        margin-left: 8rem;
      }
    }

    &__block {
      margin-left: 8rem;
    }
  }

  &--attribute {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    font-weight: bolder;
  }

  &--before {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &--type {
    color: $color-background !important;
    font-size: 1.2rem;
    padding: 0.6rem 0.4rem 0.2rem 0.4rem;
    font-weight: 600;
    margin-right: 0.4rem;

    &-removed {
      background-color: $color-riot;
    }
    &-updated {
      background-color: $color-pbe;
    }
    &-new {
      background-color: #42db96;
    }
  }
}
