.post-list {
  width: 100%;
  grid-column: content-start / content-end;
  z-index: 1;
  margin-bottom: 16rem;

  &__cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__controller {
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    margin-bottom: 2.4rem;

    @media only screen and (max-width: $tab-land) {
      margin-left: 3.2rem;
    }

    @media only screen and (max-width: $tab-port) {
      flex-direction: column;
      margin-left: 0;
    }

    @media only screen and (max-width: $tab-port) {
      div {
        display: flex;
        align-items: center;

        :not(:last-child) {
          margin-right: 2.4rem;
        }
      }
    }
  }
}
