.post-list {
  width: 100%;
  margin-top: 2.4rem;

  &--classic {
    display: flex;
    flex-direction: column;
  }

  &--card {
    margin: 8rem auto;
    padding: 0 8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
