.content-header {
  position: sticky;
  top: 0;
  grid-column: 1/-1;
  height: 6.4rem;
  background-color: var(--color-primary);
  z-index: 1001;

  @media only screen and (max-width: $tab-port) {
    display: none;
  }

  &__logo {
    fill: var(--color-background);
    width: 4.8rem;
    margin-left: 4rem;
    margin-top: 0.8rem;
  }

  &__content {
    height: 100%;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);

    &__menu {
      width: 4rem;
      position: relative;
      margin-right: 2.4rem;
    }

    button {
      grid-column-start: -1;
    }
  }

  &__titles-container {
    grid-column: 3/14;
    display: flex;
    align-items: center;
    color: var(--color-background);
    margin-left: 7.2rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    outline: 0;

    .content-header__content__menu {
      position: absolute;
      left: 0;
    }

    &:hover {
      cursor: pointer;
      path {
        transition: transform 0.2s ease-in-out;
      }

      svg {
        overflow: visible;
        path:nth-child(1) {
          transform: translateX(-0.5rem);
        }
        path:nth-child(2) {
          transform: translateX(0.5rem);
        }
      }
    }
  }

  &__title {
    margin-right: 6.4rem;
    margin-top: 0.4rem;
    p {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }

  &--hidden {
    z-index: 0;
  }

  &__secondary-nav {
    position: sticky;
    top: 6.4rem;
    grid-column: 1/-1;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
    background-color: $color-grey;
    padding: 0rem 5rem 1rem 5rem;
    z-index: 999;

    a {
      color: var(--color-primary);
    }

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      margin: 1.6rem 2.4rem 1.6rem 4rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -2rem;
        transform: rotate(45deg) translateY(-100%);
        width: 0.4rem;
        height: 0.4rem;
        border: 2px solid var(--color-primary);
      }
    }

    &--active {
      padding-top: 2rem;
      height: min-content;
      opacity: 1;
      transition: 0.2s ease-out;
    }
  }
}
