@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.artigo {
  --color-category: #ebc86e;
}
.pbe {
  position: relative;
  --color-category: #3dbdd3;
  & > div:first-child::before {
    background-image: url("https://f002.backblazeb2.com/file/cincopots/backgrounds/pbe-light.jpg");
  }
}
.riot {
  --color-category: #e03f3f;
}
.dev {
  --color-category: #e03f3f;

  & > div:first-child::before {
    background-image: url("https://f002.backblazeb2.com/file/cincopots/backgrounds/dev-light.jpg");
  }
}
.default {
  --color-category: #3c353d;
}

.view-post {
  &__content {
    line-height: 3.2rem;
    font-weight: 400;
    font-size: 2.1rem;
    grid-column: 3/14;
    z-index: 2;
    padding: 5rem;
    background-color: var(--color-background);

    @include tab-port {
      margin-top: 3.2rem;
      grid-column: 1/-1;
      padding: 0.4rem;
      margin: 0.8rem;
    }
  }
}

.artigo,
.riot,
.dev,
.default,
.pbe {
  & > div:first-child::before {
    content: "";
    position: absolute;
    top: -10rem;
    right: 0;
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include tab-port {
      top: -10rem;
      left: left;
      background-position-x: 25%;
      opacity: 0.5;
    }
  }

  // Tira o background do header
  & > div:first-child::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -13.5vw;
    z-index: -2;
    background-color: var(--color-background);
    width: 100vw;
    height: calc(100% + 10rem);
  }

  // adiciona o background da home na página toda
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: var(--main-bg);
    background-size: contain;
    background-blend-mode: var(--blend-background);
    background-color: var(--color-background);
    opacity: 0.2;
    z-index: 0;
    background-repeat: repeat;
    height: 100%;
  }
}

.post-header {
  margin-top: 3.2rem;
  grid-column: 3/14;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  z-index: 10;
  background-color: var(--color-background);

  @include tab-port {
    margin-top: 0;
    grid-column: 1/-1;
  }

  a {
    color: var(--color-category) !important;
  }

  &__content {
    grid-column: 2/11;

    &__cat {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 2.4rem;

      p {
        color: var(--color-category);
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: right;
        font-weight: bold;
        letter-spacing: 0.2rem;

        &:last-child {
          margin-top: 0.4rem;
        }
      }
    }

    &__title {
      font-size: 4rem;
      font-weight: normal;
      margin-bottom: 0.8rem;
    }

    &__blurb {
      font-weight: 200;
      margin-bottom: 3.2rem;
    }

    &__details {
      margin-bottom: 0.8rem;

      :first-child {
        margin-bottom: 0.4rem;
      }

      p:last-child {
        opacity: 0.5;
      }
    }

    &__social {
      font-size: 2.4rem;
      display: flex;
      justify-content: flex-end;
      color: var(--color-primary);
      margin-bottom: 0.8rem;

      *:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }

  &__img {
    height: 44rem;
    grid-column: 1/-1;

    background-position: center;
    background-size: cover;
  }
}

.dev {
  grid-row: 4;
}

.post-view__content {
  grid-row: 4;
  grid-column: 10/15;

  &__sticky {
    position: sticky;
    right: 0;
    top: 4.8rem;
    margin-top: 4.8rem;
    display: flex;
    justify-content: flex-end;
    p {
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: right;
      font-weight: bold;
      letter-spacing: 0.2rem;
    }
  }
}
