.stories__controller {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $tab-port) {
    flex-direction: column;
    justify-content: center;
  }

  &__sub-title {
    font-size: 2.4rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__desc {
    width: 60%;
    font-style: italic;
    border-left: 2px solid $color-grey-dark;
    padding: 1.6rem 0 1.6rem 3.2rem;
    margin-left: 3.2rem;

    @media only screen and (max-width: $tab-port) {
      border-left: none;
      width: 80vw;
    }
  }
}
