.post-featured-text {
  height: 50%;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  @media only screen and (max-width: $tab-port) {
    padding: 2.4rem;
  }

  &__title {
    text-align: right;

    @media only screen and (max-width: $tab-port) {
      font-size: 4.8rem;
    }
  }

  &__desc {
    font-size: 2.4rem;
    font-style: italic;

    @media only screen and (max-width: $tab-port) {
      margin-top: 1.8rem;
    }
  }

  &__link-container {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $tab-port) {
      margin-top: 1.8rem;
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover > p {
      color: $color-gold-dark;
      border-bottom: 2px solid $color-gold-dark;
    }

    &:hover > svg {
      color: $color-gold-dark;
      transform: translateX(0.4rem);
    }
  }

  &__link {
    font-size: 2.4rem;
    border-bottom: 2px solid $color-grey-dark;
    line-height: 1.6rem;
    transition: all 0.2s ease-out;

    &--arrow {
      font-size: 2.4rem;
      transition: all 0.2s ease-out;
    }
  }
}
