.stories__link-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 4rem;
  margin-right: -1rem; // llgambi

  @media only screen and (max-width: $tab-port) {
    margin: 2.4rem 0;
  }

  &__img {
    height: 40rem;
    width: 34rem;
    border-radius: 0.4rem;
    background-image: url("https://1.bp.blogspot.com/-T7rA2Q00xvw/Xac1gGKXbZI/AAAAAAABZ08/7CtkSDqbUz0CtagrAWnESpy3P-M25ATiwCLcBGAsYHQ/s1600/senna-splash.jpg");
    background-position: center;
    background-size: cover;
  }

  &__tag {
    color: rgba($color-grey-dark, 0.5);
  }

  &__title-champion-main {
    text-transform: uppercase;
    font-size: 3.2rem;
  }

  &__title-champion-sub {
    text-transform: capitalize;

    font-size: 2.4rem;
    font-weight: 400;
  }

  &__desc {
    &--quote {
      font-weight: 200;
      text-transform: italic;
      font-size: 1.6rem;
      width: 95%;
    }
  }
}
