@import "../../../../core/styles/variables";

.editable {
  border: 1px dashed rgba(#3c353d, 0.3);
  outline: 0;
  padding: 2px;
  * {
    outline: 0;
  }

  &--invisible {
    opacity: 0;
    left: 0;
    visibility: hidden;
    position: absolute;
  }
}

.edit {
  position: relative;

  &__remove {
    position: absolute;
    top: 8rem !important;
    left: -7.2rem !important;
    padding: 1.4rem !important;
    font-size: 4rem !important;
    width: 4.8rem;
    height: 4.8rem;
  }

  & > button {
    background-color: transparent;
    border: none;
  }
}

.asset-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.remove-btn {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  background-color: $color-riot;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 3.2rem;
  color: var(--color-background);

  &:hover {
    cursor: pointer;
  }
}

.select {
  margin-left: 0.8rem;
  width: 8rem;
  * {
    font-size: 2.4rem !important;
    border: none !important;
  }
}

.skin-price {
  display: flex;
  align-items: center;
}

.currency {
  label {
    margin-right: 1.6rem;
    margin-left: 0.4rem;
  }
}

.url {
  background-color: $color-grey;
  min-height: 2rem;
  padding: 0 2rem;
  padding-bottom: 2rem;

  span {
    display: block;
    width: 100%;
    height: 4rem;
    background-color: rgba(#3c353d, 0.1);
    padding: 0.5rem;
  }
}

.manage-chromas {
  margin-top: 4rem;

  & > div {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.chroma {
  margin: 0 1.6rem;
  width: 16rem;
  position: relative;

  &__add {
    border: 2px dashed var(--color-primary) !important;
    background-color: transparent !important;
    border-radius: 0.8rem;
    padding: 3.2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 4.8rem;
    }

    p {
      margin-top: 3.2rem;
      font-weight: bold;
    }
  }

  &__input {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent !important;
  }

  &__color {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.8rem;
  }
}
