@import "../../../../core/styles/variables";

.editable {
  &--invisible {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

.edit {
  button {
    min-width: 10rem !important;
    min-height: 4rem !important;
  }
}

.asset-container {
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  background-color: $color-riot;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 3.2rem;

  color: var(--color-background);
}
