@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.featured {
  display: grid;
  grid-template-columns: 3fr 4fr;
  position: relative;
  align-items: center;
  z-index: 1;

  @include tab-port {
    display: flex;
    flex-direction: column-reverse;
    align-items: normal;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: var(--baron-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: var(--blend-background);
    background-color: var(--color-background);
    opacity: 0.1;
    z-index: -1;
    height: 150%;

    @include tab-port {
      top: -8rem;
    }
  }
}
