@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.skin-display {
  margin-bottom: 10rem;
  button {
    background-color: $color-grey;
    border: 1px solid rgba($color-grey-dark, 0.05);
    padding: 0.4rem;
    line-height: 0;
  }

  &:first-child {
    margin-top: 3.2rem;
  }
  img {
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h4 {
      text-transform: uppercase;
    }

    h5 {
      font-weight: 400;
    }

    &__price {
      display: flex;

      svg {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.8rem;
      }
    }
  }

  &__description {
    margin-top: 0.8rem;
    text-align: center;

    font-style: oblique;
  }

  &__p {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
  }

  &__missing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 4px solid rgba($color-grey-dark, 0.05);

    img {
      width: 16rem !important;
    }

    p {
      opacity: 0.25;
    }

    &--loading {
      min-height: 48rem;

      @include tab-port {
        min-height: 24rem;
      }
    }

    &--border {
      min-height: 48rem;
      width: 32rem;

      @include tab-port {
        min-height: 24rem;
      }
    }

    &--video {
      min-height: 30rem !important;
      width: 60% !important;
    }
  }

  &__splash {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      max-width: 90rem;
    }

    &--border {
      display: grid;
      grid-template-columns: 0.325fr 1fr;
      gap: 2.4rem;

      img {
        max-width: unset;
      }

      @include tab-port {
        gap: 0.8rem;
      }
    }
  }

  &__screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      min-height: 26rem;
      width: 90%;
      margin-bottom: 1.5rem;
    }

    button {
      line-height: 0;
      max-width: 90rem;
      margin-bottom: 1.5rem;
    }
  }

  &__video {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 90rem;

    &::after {
      padding-top: 56.25%;
      display: block;
      content: "";
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__chromas-border {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include tab-port {
      flex-direction: column;
    }

    & > div:first-child {
      img {
        max-height: 48rem;
        width: auto;
      }
    }
  }
}

.chromas {
  width: 309px;
  height: 319px;
  background-image: url("https://assets.5pots.com/file/cincopots/backgrounds/chroma-bg.jpg");
  position: relative;

  &__img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;

    &--active {
      opacity: 1;
      visibility: visible;
    }

    &--missing {
      opacity: 0.35;
      visibility: visible;
      filter: grayscale(0.3);
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 312px;
    height: auto;

    path {
      stroke: rgba($color-grey-dark, 0.4);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 309px;
    height: 6.4rem;
    padding: 0 2rem;
    background-color: var(--color-primary);
    position: relative;
    z-index: 100;
    text-align: center;

    p {
      width: 100%;
      color: var(--color-background);
    }

    &__color {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }

      &--active {
        border: 0.25rem solid var(--color-background);
      }
    }
  }
}
