{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "env": {
    "es6": true
  }
}
