.homepage {
  max-width: 100vw;
}

.main-content {
  display: grid;
  grid-template-columns: 0.5fr [content-start] 10fr [content-end] 1fr [sidebar-start] 3fr [sidebar-end] 0.5fr;
  width: 100%;
  margin-top: 6.4rem;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: $tab-land) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5.6rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: -16rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: var(--main-bg);
    background-size: contain;
    background-blend-mode: var(--blend-background);
    background-color: var(--color-background);
    opacity: 0.08;
    z-index: 0;

    @media only screen and (max-width: $tab-port) {
      top: -240rem;
    }
  }
}
