@import "./variables";
@import "./mq";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $color-background;
  min-height: 100vh;
  scroll-behavior: smooth;

  @include mid-desktop {
    font-size: 55%;
  }

  @include tab-port {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  min-height: 100vh;
}

button {
  border: none;
  padding: 0;
  color: var(--color-primary);
  background-color: transparent;
  font-family: $font-primary;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
li,
span,
img,
strong,
u,
i,
em,
a {
  &::selection {
    color: var(--color-background);
    background-color: var(--color-primary) !important;
  }
}

a {
  text-decoration: none;
}

.solari {
  min-height: 100vh;

  --color-background: #{$color-background};
  --color-primary: #{$color-grey-dark};
  --color-plain: #fff;
  --baron-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/baron-light.jpg");
  --main-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/main-light.jpg");
  --sion-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/sion-light.jpg");
  --blend-background: darken;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.lunari {
  min-height: 100vh;

  --color-background: #{$color-grey-dark};
  --color-primary: #{$color-background};
  --color-plain: #2b282b;
  --baron-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/baron-dark.jpg");
  --main-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/main-dark.jpg");
  --sion-bg: url("https://assets.5pots.com/file/cincopots/backgrounds/sion-dark.jpg");
  --blend-background: screen;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.header-offset {
  margin-top: 9.6rem;
}

.anchor::before {
  content: "";
  display: block;
  padding-top: 9.6rem;
  margin-top: -9.6rem;
}

h1 {
  font-size: 5.6rem;
  font-weight: 700;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

h5 {
  font-size: 2.2rem;
  font-weight: 600;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1.8rem;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 100% !important;
}

.codex-editor__redactor {
  border: 1px dashed rgba(#333, 0.5);
}

.ce-paragraph {
  font-size: 1.8rem !important;
}
