@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.footer {
  background-color: var(--color-primary);
  padding: 4rem 8rem;
  color: var(--color-background);
  border-top: 16rem solid $color-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tab-port {
    border-top-width: 8rem;
    margin-top: 2.4rem;
    padding: 1.6rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    fill: var(--color-background);
    height: 6.4rem;
  }

  &__5pots {
    color: var(--color-background);
    margin-left: 2.4rem;
    transform: translateY(0.8rem);
    font-size: 4.8rem;

    @include tab-port {
      font-size: 2.4rem;
    }
  }

  &__links {
    a {
      text-decoration: none;
    }
  }

  &__link {
    color: var(--color-background);
    font-weight: 300;
    font-size: 2.4rem;

    @include tab-port {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
