.post-classic {
  height: 36rem;
  width: 100%;
  background-size: cover;
  background-position: top;
  margin-bottom: 4rem;
  position: relative;
  border-top-width: 0.8rem;
  border-top-style: solid;

  @media only screen and (max-width: $tab-port) {
    margin: 4rem 0.8rem;
  }

  &__container {
    background-color: $color-background;
    display: inline-block;
    padding: 1.6rem;
    max-width: 70%;
    min-width: 50%;

    position: absolute;
    bottom: 0;
    left: 0;

    @media only screen and (max-width: $tab-port) {
      max-width: 90%;
      bottom: -4.8rem;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__desc {
    margin-top: 1.6rem;
  }

  &__link-container {
    float: right;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover > p {
      color: $color-gold-dark;
      border-bottom: 2px solid $color-gold-dark;
    }
    &:hover > a {
      color: $color-gold-dark;
      border-bottom: 2px solid $color-gold-dark;
    }

    &:hover > svg {
      color: $color-gold-dark;
      transform: translateX(0.4rem);
    }
  }

  &__link {
    font-size: 1.6rem;
    border-bottom: 2px solid $color-grey-dark;
    line-height: 1.6rem;
    transition: all 0.2s ease-out;

    &--arrow {
      font-size: 1.6rem;
      transition: all 0.2s ease-out;
    }
  }
}
