.sidebar-social {
  margin-top: 8rem;
  font-size: 5.6rem;
  color: var(--color-primary);
  color: var(--color-primary);

  position: sticky;
  top: 4rem;

  @media only screen and (max-width: $tab-port) {
    display: none;
  }

  &__icons {
    display: flex;

    a {
      text-decoration: none;
      color: var(--color-primary);
    }

    svg {
      margin-right: 1.6rem;
      cursor: pointer;
      transition: fill 0.3s ease-out;
    }

    &--discord {
      margin-top: 0.4rem;

      &:hover {
        fill: $color-discord;
      }
    }

    &--twitter {
      &:hover {
        fill: $color-twitter;
      }
    }

    &--facebook {
      &:hover {
        fill: $color-facebook;
      }
    }
  }
}
