.sidebar {
  grid-column: sidebar-start / sidebar-end;

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }
}

.sidebar-beta {
  margin-top: 8rem;
  font-style: oblique;
}
