@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.post-summary {
  grid-row: 3;
  grid-column: 3/14;
  background-color: var(--color-background);
  position: relative;
  z-index: 2;
  padding: 4.8rem;

  @include tab-port {
    grid-column: 1/-1;
    margin: 0.8rem;
    grid-row: 2;
    padding: 2.4rem;
  }

  a {
    text-decoration: none;
    color: var(--color-primary);
  }

  &__changes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tab-port {
      flex-direction: column;
    }

    & > div {
      margin-top: 4rem;
      max-width: 33%;
      min-width: 20%;
      flex-shrink: 2;
      display: flex;
      flex-direction: column;

      @include tab-port {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  &__skins {
    margin-top: 3.2rem;

    &__splashes {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & > div {
        margin: 1.6rem;
        position: relative;
        max-width: 200px;

        @include tab-port {
          max-width: 120px;
        }

        p {
          opacity: 1;
          margin-left: 0.4rem;
        }

        img {
          position: relative;
          z-index: 1;
          width: 200px;

          @include tab-port {
            width: 120px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: 1.2rem;
          bottom: -1.2rem;
          width: 200px;
          height: calc(100% - 2.4rem);
          background-color: $color-grey;
          border: 1px solid rgba($color-grey-dark, 0.05);
          z-index: 0;

          @include tab-port {
            width: 120px;
          }
        }
      }
    }
  }
}

.champion-changes {
  h4 {
    text-transform: uppercase;
  }

  &__title {
    display: flex;
    align-items: center;

    svg {
      margin: 0 0.8rem;
      height: 4rem;
      width: 4rem;
      path {
        fill: var(--color-primary);
      }
    }
  }

  &__champions {
    display: flex;
    flex-wrap: wrap;

    & > a {
      margin: 0.8rem;
    }
  }
}
