.footer {
  background-color: $color-grey-dark;
  padding: 4rem 8rem;
  color: $color-background;
  border-top: 16rem solid $color-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $tab-port) {
    border-top-width: 8rem;
    margin-top: 2.4rem;
    padding: 1.6rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    fill: $color-background;
    height: 6.4rem;
  }

  &__5pots {
    color: $color-background;
    margin-left: 2.4rem;
    transform: translateY(0.8rem);
    font-size: 4.8rem;

    @media only screen and (max-width: $tab-port) {
      font-size: 2.4rem;
    }
  }

  &__links {
    a {
      text-decoration: none;
    }
  }

  &__link {
    color: $color-background;
    font-weight: 300;
    font-size: 2.4rem;

    @media only screen and (max-width: $tab-port) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
