@import "../../../core/styles/variables";

.section-title {
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.4rem;

  // color: $color-gold;

  h2 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 1.6rem;
    fill: var(--color-primary);
  }

  &--skins {
    svg {
      width: 3.2rem;
      height: 3.2rem;
      margin-top: -0.4rem;
    }
  }

  &--dev {
    padding: 1.6rem;
    border: 1px dashed var(--color-primary);
    width: fit-content;
    // line-height: 0;
  }
}
