@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.champion-change {
  padding: 4rem 3rem;
  margin: 5rem 0;
  background-color: rgba($color-grey, 0.3);
  border: 1px solid rgba($color-grey-dark, 0.05);
  position: relative;

  &:first-of-type {
    margin-top: 3rem;
  }

  &__header {
    display: flex;
    margin-bottom: 4rem;
    padding-right: 4rem;
    width: 85%;

    @include tab-port {
      padding: 0;
      margin-right: 0;
      width: 100%;
    }

    p {
      line-height: 120%;
      font-style: oblique;
      margin-bottom: 0 !important;
    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 0.8rem;
      letter-spacing: 0.2rem;
    }

    img {
      width: 10.4rem;
      height: 10.4rem;
      margin-right: 1.6rem;
      position: relative;
    }

    &__portrait {
      display: inline-block;

      div {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        opacity: 0.2;
        z-index: -1;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
      }

      svg {
        width: 16rem !important;
      }

      rect {
        fill: none;
      }
    }

    svg {
      width: 2.4rem;
      opacity: 0.9;
      fill: var(--color-primary) !important;

      &:first-child {
        margin-right: 1.6rem;
      }
    }

    &__mobile {
      & > div:first-child {
        display: none;
        @include tab-port {
          display: flex;
          align-items: center;

          & > div {
            margin-left: 0.8rem;
            flex: 1;
          }
        }
      }

      &__context {
        display: none !important;

        @include tab-port {
          display: block;
        }
      }

      & > div:last-child {
        margin-top: 2.4rem;
      }
    }

    &__desktop {
      display: block;
      @include tab-port {
        display: none;
      }
    }

    &--summary {
      button:first-child {
        opacity: 1 !important;
      }
    }

    &--context {
      button:last-child {
        opacity: 1 !important;
      }
    }

    &__context {
      display: flex;
      position: relative;

      p {
        margin-top: 0.2rem;
      }

      & > div {
        display: flex;
        flex-direction: column;

        button {
          background-color: transparent;
          border: none;
          outline: none;
          opacity: 0.4;
          transition: all 0.2s ease-out;

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }

          &:first-child {
            margin-bottom: 0.8rem;
          }
        }

        svg {
          height: 2.4rem;
        }
      }
    }
  }

  &__change {
    margin-top: 4rem;
    position: relative;
    margin-left: 4.8rem;

    @include tab-port {
      margin-left: 0;
    }

    &:not(:last-child) {
      padding-bottom: 4rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 2px;
        background-color: #ddd;
      }
    }

    h5 {
      font-weight: 600;
      text-transform: uppercase;

      @include tab-port {
        text-align: left;
      }
    }

    &__name {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;

      img {
        position: relative;
        z-index: 1;
        width: 5.6rem;
        margin-right: -5.6rem;
      }

      h5 {
        margin-left: 8rem;
      }
    }

    &__block {
      margin-left: 8rem;

      @include tab-port {
        margin-left: 0rem;
      }
    }
  }

  &--attribute {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 1;
  }

  &--before {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &--type {
    color: $color-background !important;
    font-size: 1.2rem;
    padding: 0.6rem 0.4rem 0.2rem 0.4rem;
    font-weight: 600;
    margin-right: 0.4rem;

    &-removed {
      background-color: $color-riot;
    }
    &-updated {
      background-color: $color-pbe;
    }
    &-new {
      background-color: #42db96;
    }
  }

  &__logo {
    position: absolute;
    right: 5.6rem;
    top: 4rem;
    width: 5.6rem !important;
    height: 5.6rem !important;
    opacity: 1 !important;

    @include tab-port {
      opacity: 0 !important;

      & ~ div > img {
        display: none;
      }
    }
  }
}

.single-change {
  line-height: 2.4rem;
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 50rem;
  min-width: 50rem;
  background-color: $color-pbe;
  top: 50%;
  right: -51rem;
  transform: translateY(-50%);
  padding: 1rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  z-index: 10;

  @include tab-port {
    right: unset;
    left: -50%;
    max-width: 100%;
    min-width: 100%;
    top: 4.8rem;
    transform: translateX(45%);
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    right: 0.6rem;
    bottom: 0.6rem;
    z-index: -1;
  }

  span,
  p {
    color: var(--color-background);
  }

  &--open {
    opacity: 1;
    visibility: visible;
    right: -54.5rem;

    @include tab-port {
      right: unset;
      left: -50%;
    }
  }

  &__container {
    position: relative;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: $color-pbe !important;
  }

  &__desc {
    font-weight: 400;
    font-size: 1.6rem;
  }

  &__skeleton {
    &-1 {
      width: 40rem;
      height: 1.4rem;
      background-color: var(--color-background);
      margin-bottom: 0.8rem;

      @include tab-port {
        width: 90%;
      }
    }
    &-2 {
      width: 30rem;
      height: 1.4rem;
      background-color: var(--color-background);
      opacity: 0.5;
      margin-bottom: 0.8rem;

      @include tab-port {
        width: 66%;
      }
    }
  }
}

.base {
  @include tab-port {
    margin-left: 0 !important;
  }
}

.editable {
  border: 1px dashed rgba(#3c353d, 0.3);
  outline: 0;
  padding: 2px;

  * {
    outline: 0;
  }
}
