@import "./variables";
@import "./mq";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $color-background;
  min-height: 100vh;

  @include mid-desktop {
    font-size: 55%;
  }

  @include tab-port {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
span,
img,
strong,
u,
i,
em,
a {
  &::selection {
    color: var(--color-background);
    background-color: var(--color-primary) !important;
  }
}

a {
  text-decoration: none;
}

.solari {
  min-height: 100vh;

  --color-background: #{$color-background};
  --color-primary: #{$color-grey-dark};
  --color-plain: #fff;
  --baron-bg: url("https://i.imgur.com/v2dTJgL.jpg");
  --main-bg: url("https://i.imgur.com/1p55Cod.jpg");
  --sion-bg: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/artbook/pt_BR/f31d8b829b603b4b65fdff2475bd0803ced0179d/assets/content/champion/13_sion/sion_03.jpg");
  --blend-background: darken;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.lunari {
  min-height: 100vh;

  --color-background: #{$color-grey-dark};
  --color-primary: #{$color-background};
  --color-plain: #2b282b;
  --baron-bg: url("https://i.imgur.com/nqIWrFj.jpg");
  --main-bg: url("https://i.imgur.com/g9unT8Y.jpg");
  --sion-bg: url("https://i.imgur.com/4U31EMl.jpg");
  --blend-background: screen;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.header-offset {
  margin-top: 9.6rem;
}
