*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $color-background;
  min-height: 100vh;

  @media only screen and (max-width: $mid-desktop) {
    font-size: 55%;
  }

  @media only screen and (max-width: $tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  min-height: 100vh;
}

.solari {
  min-height: 100vh;

  --color-background: #{$color-background};
  --color-primary: #{$color-grey-dark};
  --color-plain: #fff;
  --baron-bg: url("https://i.imgur.com/v2dTJgL.jpg");
  --main-bg: url("https://i.imgur.com/1p55Cod.jpg");
  --sion-bg: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/artbook/pt_BR/f31d8b829b603b4b65fdff2475bd0803ced0179d/assets/content/champion/13_sion/sion_03.jpg");
  --blend-background: darken;
  background-color: var(--color-background);
}

.lunari {
  min-height: 100vh;

  --color-background: #{$color-grey-dark};
  --color-primary: #{$color-background};
  --color-plain: #2b282b;
  --baron-bg: url("https://i.imgur.com/nqIWrFj.jpg");
  --main-bg: url("https://i.imgur.com/g9unT8Y.jpg");
  --sion-bg: url("https://i.imgur.com/4U31EMl.jpg");
  --blend-background: screen;
  background-color: var(--color-background);
}
