//Fontes
$font-primary: "Josefin Sans", sans-serif;

//Cores
$color-background: #f7f6f4;
$color-gold: #ebc86e;
$color-gold-light: #ffe7a8;
$color-gold-dark: #cfc3ab;
$color-grey: #eae9e5;
$color-grey-dark: #3c353d;
$color-grey-blueish: #1c2229;
$color-riot: #e03f3f;
$color-pbe: #3dbdd3;
$color-server-online: #7fd33d;
$color-server-offline: #e66b6b;
$color-discord: #738adb;
$color-facebook: #3b5998;
$color-twitter: #00acee;

//Breakpoints da responsividade
$phone: 37.5em; //600px
$tab-port: 56.25em; //900px
$tab-land: 75em; //1200px
$mid-desktop: 93.75em; //1500px
$big-desktop: 112.5em; //1800px
