@import "../../../core/styles/variables";
@import "../../../core/styles/mq";

.content-header {
  position: sticky;
  top: 0;
  grid-column: 1/-1;
  grid-row: 2;
  height: 6.4rem;
  background-color: var(--color-primary);
  z-index: 1001;

  @include tab-port {
    position: fixed;
    bottom: 0;
    left: 0;
    top: unset;
    width: 100%;

    a {
      display: none;
    }

    button {
      display: none;
    }
  }

  &__logo {
    fill: var(--color-background);
    width: 4.8rem;
    margin-left: 4rem;
    margin-top: 0.8rem;
  }

  &__content {
    height: 100%;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);

    &__menu {
      width: 4rem;
      position: relative;
      margin-right: 2.4rem;
    }

    button {
      grid-column-start: -1;
    }
  }

  &__titles-container {
    grid-column: 4/15;
    display: flex;
    align-items: center;
    color: var(--color-background);
    margin-left: 7.2rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    outline: 0;

    @include tab-port {
      grid-column: 1/-1;
      margin: 1.6rem;
    }

    .content-header__content__menu {
      position: absolute;
      left: 0;
    }

    &:hover {
      cursor: pointer;
      path {
        transition: transform 0.2s ease-in-out;
      }

      svg {
        overflow: visible;
        path:nth-child(1) {
          transform: translateX(-0.5rem);
        }
        path:nth-child(2) {
          transform: translateX(0.5rem);
        }
      }
    }
  }

  &__title {
    margin-right: 6.4rem;
    margin-top: 0.4rem;
    p {
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    @include tab-port {
      margin: 0.8rem !important;
      text-align: center;
    }
  }

  &--hidden {
    z-index: 0;
  }

  &__secondary-nav {
    position: sticky;
    top: 4.8rem;
    grid-column: 1/-1;
    grid-row: 2/2;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
    background-color: $color-grey;
    padding: 0rem 11vw 0.4rem 11vw;
    z-index: 999;
    grid-row: 3;

    @include tab-port {
      position: fixed;
      bottom: 0;
      top: unset;
      padding: 0rem 0 6.4rem 0rem;
    }

    a {
      color: var(--color-primary);
    }

    display: flex;

    & > * {
      margin: 1.6rem 4rem;
      position: relative;
    }

    &--active {
      padding-top: 2.4rem;
      height: min-content;
      opacity: 1;
      transition: 0.2s ease-out;

      @include tab-port {
        padding-top: 0.8rem;
      }
    }
  }

  &__champions {
    display: flex;
    flex-wrap: wrap;
  }

  &__skins {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.8rem;

    img {
      margin: 0.8rem;
    }
  }
}
