.stories__self-card {
  width: 34rem;
  z-index: 1;
  margin-right: 4rem;

  &__img {
    height: 40rem;
    width: 34rem;
    border-radius: 0.4rem;
    background-image: url("https://i.imgur.com/fUG1oNj.jpg");
    background-position: center;
    background-size: cover;
  }

  &__author {
    padding: 0 1.6rem;
    display: flex;
    margin-top: 0.4rem;
    &__img {
      transform: translateY(-50%);
      border-radius: 50%;
      height: 4.8rem;
    }

    &__tag {
      color: rgba(var(--color-primary), 0.5);
    }
  }
}
