@import "../../../core/styles/variables";

.general {
  position: relative;
  p {
    font-size: 1.8rem !important;
  }
}

.change-btn,
.delete-btn {
  font-size: 3.2rem;
  color: var(--color-background);
  padding: 0.8rem;
  line-height: 0;
  border-radius: 0.8rem;
  position: absolute;
  left: -8rem;
}

.change-btn {
  background-color: var(--color-primary);
  transition: all 0.2s ease-out;
  top: 2.4rem;

  &--checked {
    background-color: $color-pbe;
  }
}
