.auth-page {
  width: 100vw;
  height: 85vh;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: [side-start] 24rem [side-end form-start] 3fr [img-start] 1fr [form-end] 5fr [img-end ];
  grid-template-rows: 1fr;
  grid-gap: 6rem;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-background);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 100%;
    background-image: var(--sion-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: var(--blend-background);
    background-color: var(--color-background);
    opacity: 0.2;
    z-index: 0;
  }

  @media only screen and (max-width: $tab-land) {
    grid-template-columns: [form-start] 2fr [img-start] 1fr [form-end] 4fr [img-end ];
  }

  @media only screen and (max-width: $tab-port) {
    grid-template-columns: [form-start img-start] 1fr [form-end img-end];
  }

  &__sion-te-amo {
    font-size: 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.6rem;
    transform: rotate(270deg);
    color: var(--color-primary);
    justify-self: center;
    margin-right: 60%;
    z-index: 1;

    @media only screen and (max-width: $tab-land) {
      display: none;
    }
  }

  &__right-image {
    grid-row: 1 / -1;
    grid-column: img-start / img-end;
    max-height: 100%;
    max-width: 95%;
    z-index: 1;
    justify-self: end;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }
  }

  &__form {
    grid-row: 1 / -1;
    grid-column: form-start / form-end;
    background-color: var(--color-plain);
    z-index: 2;
    padding: 2rem 7rem;

    &__title {
      text-transform: uppercase;
      color: var(--color-primary);
    }
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    &__icon {
      font-size: 4.8rem;
      fill: var(--color-primary);
      cursor: pointer;
      transition: fill 0.2s ease-out;

      &--facebook {
        &:hover {
          fill: $color-facebook;
        }
      }

      &--twitter {
        &:hover {
          fill: $color-twitter;
        }
      }

      &--google {
        &:hover {
          fill: $color-google;
        }
      }
    }

    &__btn {
      margin: 0;
      font-size: 4.8rem;
      padding: 0rem;

      svg {
        transition: transform 0.2s ease-out;
      }

      &:hover svg {
        transform: translateX(0.2rem);
      }
    }
  }
}
