.header {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top: 0.8rem solid var(--color-primary);
  background: var(--color-background);

  @media only screen and (max-width: $tab-port) {
    justify-content: center;
  }

  // Container para o Logo e a caixa de busca
  &__left-actions {
    display: flex;
    align-items: center;
  }

  // Container para os links de ação de autenticação
  &__auth-links {
    display: flex;
    justify-content: space-between;
    min-width: 18rem;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }
  }

  &__link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.2s ease-out;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }

    &:hover {
      color: $color-gold-dark;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &__notifications {
      width: 2.4rem;
      height: 2.4rem;
    }

    &__picture {
      background-image: url("https://ddragon.leagueoflegends.com/cdn/10.5.1/img/profileicon/535.png");
      background-size: cover;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-left: 1.6rem;
    }

    &__details {
      margin-left: 0.8rem;
      margin-top: 0.4rem;
      &__display-name {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    &__logout {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 1.6rem;
      opacity: 0.5;
      transition: opacity 0.2s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
