.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  z-index: 1000;
  padding-top: 0.8rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0.8rem;
    width: 100%;
    background-color: var(--color-primary);
  }

  // Container para o Logo e a caixa de busca
  &__left-actions {
    margin-left: 4rem;
    display: flex;
    align-items: center;
  }

  // Container para os links de ação de autenticação
  &__auth-links {
    display: flex;
    justify-content: space-between;
    min-width: 18rem;
    margin-right: 4rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.1s ease-out;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @media only screen and (max-width: $tab-port) {
      display: none;
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__link {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.2s ease-out;

    @media only screen and (max-width: $tab-port) {
      display: none;
    }

    &:hover {
      color: $color-gold-dark;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    width: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    transition: all 0.2s ease-out;

    @media only screen and (max-width: $tab-port) {
      transform: translateX(4.8rem) translateY(-50%);
      left: -11.2rem;
    }

    &--hidden {
      left: -11.2rem;

      .header__user__notifications {
        background-color: var(--color-background);
        padding: 0.8rem;
        border-radius: 50%;

        &--dark {
          background-color: var(--color-primary);
          color: var(--color-background);
        }
      }

      .header__user__picture {
        width: 4.8rem;
        height: 4.8rem;
      }
      .header__user__details {
        visibility: hidden;
        opacity: 0;
      }
      .header__user__logout {
        visibility: hidden;
        opacity: 0;
      }
    }

    &__notifications {
      width: 2.4rem;
      height: 2.4rem;
      transition: all 0.2s ease-out;

      @media only screen and (max-width: $tab-port) {
        display: none;
      }
    }

    &__picture {
      background-image: url("https://imgur.com/nafqj1I.png");
      background-size: cover;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-left: 1.6rem;
      transition: all 0.2s ease-out;

      @media only screen and (max-width: $tab-port) {
        // border-top-right-radius: 0;
        // border-bottom-right-radius: 0;
        width: 4.8rem;
        height: 4.8rem;
        margin-left: 0;
      }
    }

    &__details {
      margin-left: 0.8rem;
      margin-top: 0.4rem;
      transition: all 0.2s ease-out;
      visibility: visible;
      opacity: 1;

      @media only screen and (max-width: $tab-port) {
        display: none;
      }
      &__display-name {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    a,
    a:link,
    a:visited {
      color: var(--color-primary) !important;
    }

    &__logout {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 1.6rem;
      opacity: 0.5;
      transition: opacity 0.2s ease-out;
      visibility: visible;

      @media only screen and (max-width: $tab-port) {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-primary);
    padding: 1.6rem;
    margin-right: 4rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease-out;
    z-index: 2;
    border: none;
    font-family: $font-primary;
    outline: none;

    &--hidden {
      opacity: 0;
      visibility: hidden;

      @media only screen and (max-width: $tab-port) {
        visibility: visible;
        opacity: 1;
      }
    }

    @media only screen and (max-width: $tab-port) {
      width: 5.6rem;
      .header__menu-btn__text {
        display: none;
      }

      .header__menu-btn__burguer {
        transform: scale(-1, 1);
      }
      .header__menu-btn__burguer-3 {
        right: 0 !important;
      }
    }

    &--dark {
      background-color: var(--color-primary);
      color: var(--color-background);

      .header__menu-btn__burguer-1,
      .header__menu-btn__burguer-2,
      .header__menu-btn__burguer-3 {
        background-color: var(--color-background) !important;
      }
    }

    &:hover {
      cursor: pointer;
      .header__menu-btn__burguer-1 {
        transform: translateX(1.6rem);
      }

      .header__menu-btn__burguer-2 {
        transform: translateX(0.8rem);
      }

      .header__menu-btn__burguer-3 {
        transform: translateX(-0.8rem);
      }
    }

    &__burguer {
      position: relative;
      width: 4.8rem;
      height: 1.6rem;

      :nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.6rem;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateX(0);
        transition: all 0.2s ease-out;
      }

      :nth-child(2) {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 2.4rem;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateX(0);
        transition: all 0.2s ease-out;
      }

      :nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 2.4rem;
        width: 1.6rem;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateX(0);
        transition: all 0.2s ease-out;
      }
    }

    span {
      font-size: 1.8rem;
      letter-spacing: 0.8px;
    }

    &--close {
      background-color: var(--color-primary);

      &:hover {
        .header__menu-btn__burguer-1 {
          transform: rotate(45deg) translate(0px, -50%) scale(0.9);
        }

        .header__menu-btn__burguer-3 {
          transform: rotate(-45deg) translate(0px, -50%) scale(0.9);
        }
      }

      .header__menu-btn__burguer-1,
      .header__menu-btn__burguer-2,
      .header__menu-btn__burguer-3 {
        background-color: var(--color-background);
      }

      .header__menu-btn__burguer-1 {
        width: 2rem;
        transform: rotate(45deg) translate(0px, -50%);
        top: 50%;
        left: 4px;
        right: 0;
      }
      .header__menu-btn__burguer-2 {
        width: 0;
        top: 0;
        left: 0;
      }
      .header__menu-btn__burguer-3 {
        width: 2rem;
        transform: rotate(-45deg) translate(0, -50%);
        top: 50%;
        left: 5px;
        right: 1px;
      }

      span {
        color: var(--color-background);
      }
    }
  }

  &__cta {
    position: relative;
  }

  &__profile-menu {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
}
