.post {
  display: grid;
  height: 25.6rem;
  grid-template-columns: [image-start] 48rem [image-end content-start] 1fr [content-end];
  grid-template-rows: 1fr;
  width: 100%;

  @media only screen and (max-width: $tab-port) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 40rem;
    width: 95%;
    margin-bottom: 2.4rem;
  }

  &__small {
    grid-template-columns: [content-start] 1fr [content-end image-start] 0fr [image-end];
    margin: -8rem 0 0 0 !important;

    @media only screen and (max-width: $tab-port) {
      margin: 0 auto !important;
      margin-bottom: 8rem !important;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8rem;

    @media only screen and (max-width: $tab-port) {
      margin-bottom: 8rem;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__image {
    @media only screen and (max-width: $tab-port) {
      background-size: cover;
    }
  }

  &:hover &__content {
    transform: translateX(0.4rem);

    @media only screen and (max-width: $tab-port) {
      transform: translateX(0rem);
    }
  }

  &__image {
    height: 100%;
    grid-column: image-start/image-end;
    grid-row: 1/-1;
    background-size: 100%;
    background-position: center;
    box-sizing: border-box;
    border-top-width: 0.8rem;
    border-top-style: solid;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    transition: background-size 0.2s ease-out;

    @media only screen and (max-width: $tab-port) {
      background-size: cover;
    }
  }

  &__content {
    grid-column: content-start/content-end;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.6rem;
    transition: transform 0.2s ease-out;

    &__title {
      text-transform: uppercase;
    }

    &__label {
      font-style: oblique;
    }

    :not(:last-child) {
      margin-bottom: 2.4rem;

      @media only screen and (max-width: $tab-port) {
        margin: 0.8rem 0;
      }
    }

    @media only screen and (max-width: $tab-port) {
      margin-top: 1.6rem !important;
      width: 80%;
      margin: 0 auto;
    }
  }
}
