.stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4.8rem;
  z-index: 1;
  //padding: 0 2rem;
  overflow: hidden;

  &__cards {
    margin-top: 3.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding-left: 4rem;

    :first-child {
      margin-right: 6.4rem;
    }

    :last-child {
      margin-right: 4rem !important;
    }

    @media only screen and (max-width: $tab-port) {
      justify-content: flex-start;
      margin-top: 0.8rem;
      margin-right: 2rem;
    }
  }
}
