@import "../../../core/styles/variables";

.champions-dev {
  &__add-champion {
    display: FLEX;
    align-items: center;
    justify-content: center;
    border: 3px dashed $color-grey;
    padding: 2.4rem;

    &__manual {
      display: flex;
      align-items: flex-end;
      margin-left: 4rem;
    }

    &--disable {
      svg {
        color: $color-grey !important;
        cursor: default !important;
      }
    }

    svg {
      height: 4rem;
      width: auto;
      margin-left: 1.6rem;

      &:hover {
        color: var(--color-category);
        cursor: pointer;
      }
    }
  }
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem;
  opacity: 0.2;
  border: 2px dashed rgba($color-grey-dark, 0.2);
  transition: all 0.3s ease-out;

  &:hover {
    opacity: 0.7;
  }

  svg {
    margin-left: 1.6rem;
  }
}
