@import "../../../core/styles/variables";

.champions-dev {
  &__add-champion {
    display: FLEX;
    align-items: center;
    justify-content: center;
    border: 3px dashed $color-grey;
    padding: 2.4rem;
    // margin-bottom: 8rem;

    &__manual {
      display: flex;
      align-items: flex-end;
      margin-left: 4rem;
    }

    &--disable {
      svg {
        color: $color-grey !important;
        cursor: default !important;
      }
    }

    svg {
      height: 4rem;
      width: auto;
      margin-left: 1.6rem;

      &:hover {
        color: var(--color-category);
        cursor: pointer;
      }
    }
  }
}
